@model Library.Models.Member.MemberIndexModel
@{
    ViewData["Title"] = "Member Index";
}

<h1>Member Index</h1>
<div id="assetsTable">
    <table class="table table-condensed" id="membersIndextable">
        <thead>
            <tr>
                <th>Profile Link</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Library Susbscription ID</th>
                <th>Overdue Fees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.Members)
            {
                <tr class="assetRow" bgcolor="#f6eeee">
                    <td>
                        <a asp-controller="Member" asp-action="Detail" asp-route-id="@member.Id">
                            More about member!
                        </a>
                    </td>
                    <td>@member.FirstName</td>
                    <td>@member.LastName</td>
                    <td>@member.LibrarySubscriptionId</td>
                    <td>@member.OverdueFees</td>
                </tr>
            }
        </tbody>
    </table>
</div>

