@model Library.Models.Member.MemberIndexModel
@{
    ViewData["Title"] = "Member Index";
}

<h1>Member Index</h1>
<div id="assetsTable">
    <table class="table table-condensed" id="membersIndextable">
        <thead>
            <tr bgcolor="#e6b3b3">
                <th>Profile Link</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Library Susbscription ID</th>
                <th>Overdue Fees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model.Members)
            {
                <tr class="assetRow" bgcolor="#f6eeee">
                    <td>
                        <a asp-controller="Member" asp-action="Detail" asp-route-id="@member.Id">
                            <img src="~/images/people/person.png" alt="Library" width="50" height="50" >
                        </a>
                    </td>
                    <td style="color:#660033;"><span style="font-weight:bold">@member.FirstName </span></td>
                    <td style="color:#660033;"><span style="font-weight:bold">@member.LastName</span></td>
                    <td>@member.LibrarySubscriptionId</td>
                    <td style="color:#000066;">@member.OverdueFees</td>
                </tr>
            }
        </tbody>
    </table>
</div>

