@model Library.Models.Collection.ItemDetailModel

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        .topright {
            position: absolute;
            top: 10px;
            right: 1px;
            font-size: 20px;
        }
    </style>
</head>
<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">View Library Item</h2>
    </div>

</div>
<div class="jumbotron" style="background-color:#f6eeee">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" width="250" height="300" src="@Model.ImageUrl" />
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <p id="itemTitle" style="color:#7d0f42;">@Model.Title</p>
                <p id="itemAuthor">@Model.AOD</p>
                <p id="itemStatus">@Model.Status</p>
                <p id="itemType">@Model.Type</p>
                

                @if (Model.Status == "Lost")
                {
                    <p>This item has been lost. It cannot be checked out.</p>
                    <p><a class="btn btn-lg btn-danger" role="button" asp-controller="Collection" asp-action="MarkFound" asp-route-id="@Model.ItemId">Mark Item Found</a></p>

                }

                @if (Model.Status == "Borrowed")
                {
                    <p id="itemPatron">Borrowed By:@Model.MemberName</p>
                    <p><a class="btn btn-lg btn-success" role="button" asp-controller="Collection" asp-action="ReturnItem" asp-route-id="@Model.ItemId">Return</a></p>
                    <p><a class="btn btn-lg btn-warning" role="button" asp-controller="Collection" asp-action="Hold" asp-route-id="@Model.ItemId">Place Hold</a></p>
                }

                @if (Model.Status == "Available")
                {
                    <p><a class="btn btn-lg btn-info" role="button" asp-controller="Collection" asp-action="Borrow" asp-route-id="@Model.ItemId">Borrow</a></p>
                }
            </div>
            <div class="col-md-4 topright detailInfo">
                <table>
                    <tr>
                        <td class="itemLabel">ISBN: </td>
                        <td class="itemValue">@Model.ISBN </td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Dewey Number: </td>
                        <td class="itemValue">@Model.DeweyNr </td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Price to replace: </td>
                        <td class="itemValue">@Model.Price  €</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h4>Borrow History</h4>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Date Loaned</th>
                    <th>Date Returned</th>
                    <th>Card Id</th>
                </tr>
            </thead>
                <tbody>
                    @foreach (var borrow in @Model.BorrowHistory)
                    {
                        <tr>
                            <td>@borrow.Borrowed</td>
                        
                        
                            <td>@borrow.Returned</td>
                        
                        
                            <td>@borrow.LibrarySubscription.Id</td>
                        </tr>
                    }
                </tbody>
        </table>
    </div>
    <div class="col=lg=6">
        <h4>Current Holds</h4>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Hold Placed</th>
                    <th>Member</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hold in @Model.CurrentHolds)
                {
                    <tr>
                        <td>@hold.HoldPlaced</td>
                   
                        <td>@hold.MemberName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
