@model Library.Models.Collection.ItemDetailModel

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        .topright {
            position: absolute;
            top: 10px;
            right:1px;
            font-size: 18px;
        }
        .button {
            background-color: #900C3F;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }
        .button1 {
            background-color: #581845 ;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

        .button:hover {
            opacity: 1
        }
        p.ex1 {
            font-size: 40px;
        }
        p.ex2 {
            font-size: 20px;

        }
        p.ex3 {
            font-size: 25px;
        }
        p.ex4 {
            font-size: 18px;
        }
    </style>
</head>

@if (Model.Type == "Book")
{<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted"><span style="color: #B29B35; ">View Book</span></h2>
    </div>

</div>
 <div class="jumbotron" style="   background-color: #f6eeee">
   
     <div class="row">
         <div class="col-md-4">
             <div>
                 <img class="detailImage" width="250" height="350" src="@Model.ImageUrl" />
             </div>
         </div>
         <div class="col-md-4">
             <div>

                 <p class="ex1" id="itemTitle" style="color:#7d0f42;"><span style="font-weight:bold">@Model.Title</span></p>
                 <p class="ex3" id="itemAuthor" style="color:#99004d;">@Model.AOD</p>
                 @if (Model.Status == "Available")
                 {
                     <p class="ex2" id="itemStatus" style="color:#00cc00;"><span style="font-style:italic">@Model.Status</span></p>
                 }
                 @if (Model.Status == "Borrowed")
                 {
                     <p class="ex2" id="itemStatus" style="color:#cc0000;"><span style="font-style:italic">@Model.Status</span></p>
                 }
                 <p id="itemType">@Model.Type</p>
                 <p id="itemType">@Model.Genre</p>
                 <p style="color:#3399ff"> @Model.Description</p>


                 @if (@Model.Status == "Borrowed")
                 {
                     <p id="itemPatron">Borrowed By:@Model.MemberName</p>
                     <p><a class="mdl-button mdl-button--colored button" role="button" asp-controller="Collection" asp-action="ReturnItem" asp-route-id="@Model.ItemId">Return</a></p>
                     <p><a class="mdl-button mdl-button--colored button1" role="button" asp-controller="Collection" asp-action="Hold" asp-route-id="@Model.ItemId">Place Hold</a></p>
                 }

                 @if (@Model.Status == "Available")
                 {
                     <p><a class="mdl-button mdl-button--colored button" role="button" asp-controller="Collection" asp-action="Borrow" asp-route-id="@Model.ItemId">Borrow</a></p>
                 }





             </div>
             <div id="assetsTable">
                 <table class="table table-condensed" id="collectionIndextable">
                     <thread>
                         <tr bgcolor="#e6b3b3">
                             <th>ISBN</th>
                             <th>Dewey Number</th>
                             <th>Number of pages</th>
                             <th>Price to replace</th>
                         </tr>
                     </thread>
                     <tbody>
                         <tr class="assetRow" bgcolor="#f6eeee">

                             <td class="">@Model.ISBN</td>
                             <td class=""> @Model.DeweyNr</td>
                             <td class=""> @Model.Duration</td>
                             <td class="">@Model.Price  €</td>

                         </tr>
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
 </div>
}
@if (Model.Type == "Movie")
{<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted"><span style="color:#B29B35;">View Movie</span></h2>
    </div>

</div>
    <div class="jumbotron" style="background-color:#f6eeee">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img class="detailImage" width="250" height="350" src="@Model.ImageUrl" />
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <p class="ex1" id="itemTitle" style="color:#7d0f42;"><span style="font-weight:bold">@Model.Title</span></p>
                    <p class="ex3" id="itemAuthor" style="color:#99004d;">@Model.AOD</p>
                    @if (Model.Status == "Available")
                    {
                        <p class="ex2" id="itemStatus" style="color:#00cc00;"><span style="font-style:italic">@Model.Status</span></p>
                    }
                    @if (Model.Status == "Borrowed")
                    {
                        <p class="ex2" id="itemStatus" style="color:#cc0000;"><span style="font-style:italic">@Model.Status</span></p>
                    }
                    <p id="itemType">@Model.Type</p>
                    <p id="itemType">@Model.Genre</p>
                    <p style="color:#3399ff"> @Model.Description</p>



                    @if (Model.Status == "Borrowed")
                    {
                        <p id="itemPatron">Borrowed By:@Model.MemberName</p>
                        <p><a class="mdl-button mdl-button--colored button" role="button" asp-controller="Collection" asp-action="ReturnItem" asp-route-id="@Model.ItemId">Return</a></p>
                        <p><a class="mdl-button mdl-button--colored button1" role="button" asp-controller="Collection" asp-action="Hold" asp-route-id="@Model.ItemId">Place Hold</a></p>
                    }

                    @if (Model.Status == "Available")
                    {
                        <p><a class="mdl-button mdl-button--colored button" role="button" asp-controller="Collection" asp-action="Borrow" asp-route-id="@Model.ItemId">Borrow</a></p>
                    }
                </div>
                    <div id="assetsTable">
                        <table class="table table-condensed" id="collectionIndextable">
                            <thread>
                                <tr bgcolor="#e6b3b3">
                                    <th>Length of the movie</th>
                                    <th>Price to replace</th>

                                </tr>
                            </thread>
                            <tbody>
                                <tr class="assetRow" bgcolor="#f6eeee">


                                    <td class=""> @Model.Duration minutes</td>
                                    <td class="">@Model.Price  €</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
}
<div class="row">
    <div class="col-lg-6">
        <h4>Borrow History</h4>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr bgcolor="#e6b3b3">
                    <th>Date Loaned On</th>
                    <th>Date Returned On</th>
                    <th>Must return till</th>
                    <th>Member Subscription  Id</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var borrow in @Model.BorrowHistory)
                {
                    <tr bgcolor="#f6eeee">
                        <td>@borrow.Borrowed</td>


                        <td>@borrow.Returned</td>
                        <td>@borrow.Borrowed.AddDays(30) </td>

                        <td>@borrow.LibrarySubscription.Id</td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col=lg=6">
        <h4>Current Holds</h4>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr bgcolor="#e6b3b3">
                    <th>Hold Placed On</th>
                    <th>By Member</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hold in @Model.CurrentHolds)
                {
                    <tr bgcolor="#f6eeee">
                        <td>@hold.HoldPlaced</td>

                        <td>@hold.MemberName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
