@model Library.Web.Models.BorrowModel.BorrowModel
<style>


    .button {
        background-color: #900C3F;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        border-radius: 12px;
    }

        .button:hover {
            opacity: 1
        }
    p.ex1 {
        font-size: 40px;
    }
</style>

<div class="container">
    <div class="card-header clearfix detailHeading" style="background-color:#e6b3b3">
        <h2>Place Hold on Item</h2>

    </div>
</div>

<div class="jumbotron" style="background-color:#f6eeee">
    <div class="row">
        <div class="col-md-3">
            <div>
                <p class="ex1" id="itemTitle" style="color:#7d0f42;"><span style="font-weight:bold">@Model.Title</span></p>
                <img class="detailImage" width="250" height="350" src="@Model.ImageUrl" />
            </div>
        </div>
        <div class="col-md-9">
            <p style="color:#000066;"><span style="font-weight:bold">There are currently @Model.HoldCount holds in the queue for this item.</span></p>
            @using (Html.BeginForm("PlaceHold", "Collection", FormMethod.Post))
            {
                @Html.HiddenFor(i => i.ItemId)
                <div>
                    <span style="font-style:italic">
                        Please insert a Library Subscription ID</span>
                        @Html.TextBoxFor(i => i.LibrarySubscriptionId)
</div>
                <div>
                    <button type="submit" class="mdl-button mdl-button--colored button">Hold</button>
                </div>
            }
        </div>
    </div>
</div>