@model Library.Models.Collection.ItemIndexModel
    <style>

        .topright {
            position: absolute;
            top: 10px;
            right: 1px;
            font-size: 20px;
        }

        .button {
            background-color: #900C3F;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

        .button1 {
            background-color: #581845;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

        .button:hover {
            opacity: 1
        }
    </style>
    <div id="assets">
        <h3>Library Collection</h3>
        <h2>Books</h2>
        <div id="assetsTable">
            <table class="table table-condensed" id="collectionIndextable">
                <thread>
                    <tr bgcolor="#e6b3b3">
                        <th>Image</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Number</th>
                        <th>Action</th>

                    </tr>
                </thread>
                <tbody>
                    @foreach (var asset in Model.Items)
                    {@if (asset.Type == "Book")
                        {
                    <tr class="assetRow" bgcolor="#f6eeee">
                        <td class=""><img width="150" height="200" src="@asset.ImageUrl" class="imageCell" /></td>
                        <td class="">@asset.Title</td>
                        <td class="">@asset.AOD</td>
                        <td class="">@asset.Genre</td>
                        <td class="">@asset.DeweyNr</td>

                        <td>
                            <a class="mdl-button mdl-button--colored button" asp-action="Detail" asp-route-id="@asset.Id">
                                View
                            </a>
                        </td>


                    </tr>
                        }
                }
                </tbody>
            </table>
        </div>
        <h2>Movies</h2>
        <div id="assetsTable">
            <table class="table table-condensed" id="collectionIndextable">
                <thread>
                    <tr bgcolor="#e6b3b3">
                        <th>Image</th>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thread>
                <tbody>
                    @foreach (var asset in Model.Items)
                    {@if (asset.Type == "Movie")
                        {
                    <tr class="assetRow" bgcolor="#f6eeee">
                        <td class=""><img width="150" height="200" src="@asset.ImageUrl" class="imageCell" /></td>
                        <td class="">@asset.Title</td>
                        <td class="">@asset.AOD</td>
                        <td class="">@asset.Genre</td>
                        <td>
                            <a class="mdl-button mdl-button--colored button" asp-action="Detail" asp-route-id="@asset.Id">
                                View
                            </a>
                        </td>
                    </tr>
                        }
                }
                </tbody>
            </table>
        </div>
       
    </div>